<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Remote Management</title>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
  <h2>Danh sách Máy Khách</h2>
  <ul id="clientList"></ul>

  <script>
    var socket = io();

    socket.on('update_clients', function (clients) {
      var list = document.getElementById('clientList');
      list.innerHTML = '';
      for (var client in clients) {
        var item = document.createElement('li');
        item.innerHTML = client + ' - ' + clients[client].status + ' - Nhóm: ' + clients[client].group;
        list.appendChild(item);
      }
    });
  </script>
</body>
</html>
